@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
.input {
    font-family: 'Poppins', sans-serif;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(31, 146, 192);
    overflow: hidden;
}

.container:before {
    content: '';
    position: absolute;
    width: 2400px;
    height: 2400px;
    border-radius: 33%;
    background: linear-gradient(-45deg, #333, #181717);
    bottom: -12%;
    right: 40%;
    /* transform: translateX(-50deg); */
}

.forms-container {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
}

.signin-signup {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    width: 50%;
    display: grid;
    grid-template-columns: 1fr;
    /* z-index: 5; */
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5rem;
    overflow: hidden;
}

form.sign-in-form {
    z-index: 2;
}

form.sign-up-form {
    z-index: 2;
    opacity: 0;
}

.title {
    font-size: 2.4rem;
    color: black;
    margin-bottom: 11px;
}

.input-field {
    max-width: 380px;
    width: 100%;
    height: 50px;
    background-color: rgb(31, 41, 41);
    margin: 10px 0;
    border-radius: 30px;
    display: grid;
    grid-template-columns: 15% 85%;
    padding: 0 0rem;
}

.input-field i {
    text-align: center;
    line-height: 40px;
    color: black;
    font-size: 1.5rem;
}

.input-field input {
    background: none;
    outline: none;
    border: none;
    line-height: 3;
    font-weight: 600;
    font-size: 1.2rem;
    color: #d2d3d2;
}

.input-field input ::placeholder {
    color: #aaa;
    font-weight: 500;
}

.btn {
    border: none;
    outline: none;
    color: #d2d3d2;
    background-color: #333;
    cursor: pointer;
    width: 80px;
    height: 35px;
    border-radius: 23px;
    text-transform: uppercase;
    margin: 10px 0;
    transition: .5s;
    font-weight: bolder;
}

.btn:hover {
    color: #d2d3d2;
    background-color: black;
}

.social-text {
    padding: .5rem 1rem;
    font-size: 1.1rem;
}

.social-media {
    display: flex;
    justify-content: center;
}

.social-icon {
    /* padding: .5rem 1rem; */
    color: black;
    border: 1px solid #333;
    margin: 0 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 50%;
    height: 42px;
    width: 42px;
    transition: 0.3s;
}

.social-icon:hover {
    background-color: black;
    color: rgb(31, 146, 192);
}

.panels-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    text-align: center;
    /* z-index: 7; */
}

.panel-left {
    padding: 3rem 17% 2rem 12%;
    pointer-events: all;
}

.panel-right {
    padding: 3rem 12% 2rem 17%;
    pointer-events: none;
}

.panels-container .content {
    color: #aaa;
    padding: 1.5rem 0;
}

.panels-container h3 {
    line-height: 1;
    font-size: 20px;
    font-weight: 500;
}

.panels-container p {
    font-size: 13px;
    padding: .7rem 0;
}

.btn.transparent {
    margin: 0;
    width: 30%;
    background: none;
    border: 2px solid#aaa;
    font-weight: 700;
    font-size: .9rem;
}

.image {
    width: 100%;
}

.panel-right .content,
.panel-right .image {
    transform: translateX(800px);
}